.formStyle {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  
}
.formStyle fieldset {
  border: none;
}
.formStyle legend {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.formStyle label {
  display: block;
  margin-bottom: 8px;
}
.formStyle input[type="text"],
.formStyle input[type="email"],
.formStyle input[type="number"],
.formStyle input[type="search"],
.formStyle input[type="url"],
.formStyle textarea,
.formStyle select {

  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #333;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.formStyle input[type="text"]:focus,
.formStyle input[type="email"]:focus,
.formStyle input[type="number"]:focus,
.formStyle input[type="search"]:focus,
.formStyle input[type="url"]:focus,
.formStyle textarea:focus,
.formStyle select:focus {
  background: #d2d9dd;
}
.formStyle select {
  height: 35px;
}
.formStyle span {
  background: linear-gradient(135deg, #4b8e15, #a4da66 150%);
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}
.formStyle input[type="submit"],
.formStyle input[type="button"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: linear-gradient(135deg, #4b8e15, #a4da66 150%);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: none;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.formStyle input[type="submit"]:hover,
.formStyle input[type="button"]:hover {
  background: #109177;
}
