@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
header,
footer {
  min-height: 6vh;
  background-color: rgb(48, 48, 48);
  color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 100;
}
.logo {
  padding: 0 1rem;
  color: #a4da66;
  font-family: "Oleo Script Swash Caps", cursive;
}
.logo-link{
text-decoration: none;
}
nav {
  margin-right: 1rem;
}
nav ul li {
  display: inline-block;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}



.main-title {
  text-align: center;
  padding-top: 2rem;
}
h4 {
  font-weight: bolder;
  color: #9ee664;
  text-shadow: 2px 2px black;
}
.hero-banner{
 min-height: 70vh;
}
.video {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(0.5) brightness(0.6);
  position: relative;
  z-index: -1;
}
.btn-link{
color: white;
text-decoration: none;
}
.hero-text {
  position: absolute;
  left: 3rem;
  top: 10rem;
  color: white;
  padding: 1rem;
  z-index: 1;
}
.btn {
  border: none;
  color: white;
  text-align: center;
  position: relative;
  background-image: linear-gradient(135deg, #4b8e15, #a4da66 150%);
  text-align: center;
  padding: 0.6rem 1rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 1.2rem;
}
p {
  padding: 1rem 0;
  font-size: 15px;
}
main {
  min-height: 0vh;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
  grid-auto-flow: dense;
}
.home-card {
  height: 180px;
  width: 100%;
  box-shadow: 0px 5px 20px rgb(68, 67, 67);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.8rem;
  background-color: #242526e7;
  color: white;
  border: none;
  border-radius: 20px;
}
.card {
  position: relative;
  width: 220px;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin : 0 auto;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
  grid-auto-flow: dense;
}
.search-form {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.search-bar {
  min-width: 50vh;
  padding: 10px;
  border: none;
  border-radius: 25px;
  text-indent: 1rem;
}

.recipe-page {
  min-height: 100vh;
  background-image: linear-gradient(-20deg, #e9defae6 20%, #ebece5ec 50%);
}

img.flag {
    width: 36px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.food-name{
  margin: 1rem 0;
}
.see-more{
  text-decoration: none;
  color: white;
}

/* ......recipe single.... */
.title{
  color: #4b8e15;
  margin-bottom: 1rem;
}
.rs-container{
  height: calc(100vh - 12vh);
  display: flex;
  flex-direction: row;
  margin: 2rem;
}
.rs-detail{
  padding: 0 1.5rem;
}
.img-container{
  position: relative;
}
.food-img {
  width: 365px;
  height: 250px;
  border-radius: 5px 5px 0 0;
}
.food-img-bg{
  width: 500px;
  height: 400px;
  border-radius: 5px 5px 0 0;
}
.inc-title{
  margin: 0.5rem 0;
}
.ingredient{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  border: 1.5px solid #4b8e15;
  padding-top: 0.5rem;
}
.food-detail{
border-left: 2px solid #4b8e15;
  text-indent: 1rem;

}
.row-title{
  text-indent: 1rem;
}
.row-content{
  padding-right: 0.5rem;
}