@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
header,
footer {
  min-height: 6vh;
  background-color: rgb(48, 48, 48);
  color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
}
.logo {
  padding: 0 1rem;
  color: #a4da66;
  font-family: "Oleo Script Swash Caps", cursive;
}
nav {
  margin-right: 1rem;
}
nav ul li {
  display: inline-block;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

nav li a:hover {
  background-image: linear-gradient(135deg, #4b8e15, #a4da66 150%);
  border-radius: 25px;
  border: none;
  color: white;
  padding: 0.5rem;
}

.main-title {
  text-align: center;
  padding-top: 2rem;
}

.video {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(0.5) brightness(0.6);
  position: relative;
  z-index: -1;
}
.hero-text {
  position: absolute;
  left: 5rem;
  top: 10rem;
  color: white;
  padding: 1rem;
}
.btn {
  border: none;
  color: white;
  text-align: center;
  position: relative;
  background-image: linear-gradient(135deg, #4b8e15, #a4da66 150%);
  text-align: center;
  padding: 0.6rem 1rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 25px;
}
p {
  padding: 1.5rem 0;
}
main {
  min-height: 50vh;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
  grid-auto-flow: dense;
}
.home-card {
  height: 100px;
  width: 100%;
  box-shadow: 10px 10px 15px #333;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}
.card {
  height: 300px;
  width: 100%;
  box-shadow: 10px 10px 15px #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
